<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @business_model.name %>
</p>

<%= link_to 'Edit', edit_business_model_path(@business_model) %> |
<%= link_to 'Back', business_models_path %>
