<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Price</th>
      <% if form.present? %>
        <th>Quantity</th>
      <% end %>
    </tr>
  </thead>
  <tbody>
    <% menu_items.each do |menu_item| %>
      <tr>
        <td><%= menu_item.name %></td>
        <td><%= number_to_currency(menu_item.price, precision: 2) %></td>
        <% if form.present? %>
          <td><input type="number" value="1"></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
