<p id="notice"><%= notice %></p>

<h1>Orders</h1>

<table>
  <thead>
    <tr>
      <th>Restaurant</th>
      <th>Customer name</th>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @orders.each do |order| %>
      <tr>
        <td><%= order.restaurant %></td>
        <td><%= order.customer_name %></td>
        <td><%= order.description %></td>
      </tr>
    <% end %>
  </tbody>
</table>
